{% extends "_base.html" %}
{%- block content -%}
<p class="text-base/7 font-semibold text-indigo-600">Incident report</p>
<h1 class="mt-2 text-pretty text-4xl font-semibold tracking-tight text-gray-900 sm:text-3xl">
    Misconfigured price cache on Balancer's EURe/sDAI pool on GnosisChain</h1>
<p class="mt-6 text-xl/8">Balancer's EURe/sDAI pool on GnosisChain has suffered heavy losses, caused by
    a misconfigured price cache, an issue compounded by overly concentrated liquidity and
    transaction fees that were too low.</p>

<script type="text/javascript">
    const dateCacheExpirationUpdated = "{{date_cache_expiration_updated}}";
</script>

<figure class="mt-16" hx-get="/cumulative-profit-loss" hx-trigger="load" hx-swap="outerHTML">
    <img class="animate-pulse aspect-video rounded-xl bg-gray-50 object-cover w-full"
         src="assets/chart-cumulative-profit-loss.png" alt="">
    <figcaption class="mt-4 flex gap-x-2 text-sm/6 text-gray-500">
        <svg class="mt-0.5 size-5 flex-none text-gray-300" viewBox="0 0 20 20" fill="currentColor"
             aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd"
                  d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z"
                  clip-rule="evenodd"/>
        </svg>
        Loading...
    </figcaption>
</figure>

<figure class="mt-16" hx-get="/plot-price-divergence" hx-trigger="load delay:500ms" hx-swap="outerHTML">
    <img class="animate-pulse aspect-video rounded-xl bg-gray-50 object-cover w-full"
         src="assets/chart-plot-price-divergence.png" alt="">
    <figcaption class="mt-4 flex gap-x-2 text-sm/6 text-gray-500">
        <svg class="mt-0.5 size-5 flex-none text-gray-300" viewBox="0 0 20 20" fill="currentColor"
             aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd"
                  d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z"
                  clip-rule="evenodd"/>
        </svg>
        Loading...
    </figcaption>
</figure>

<figure class="mt-16" hx-get="/price-spot-vs-pool" hx-trigger="load delay:1000ms" hx-swap="outerHTML">
    <img class="animate-pulse aspect-video rounded-xl bg-gray-50 object-cover w-full"
         src="assets/chart-price-spot-vs-pool.png" alt="">
    <figcaption class="mt-4 flex gap-x-2 text-sm/6 text-gray-500">
        <svg class="mt-0.5 size-5 flex-none text-gray-300" viewBox="0 0 20 20" fill="currentColor"
             aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd"
                  d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z"
                  clip-rule="evenodd"/>
        </svg>
        Loading...
    </figcaption>
</figure>

<figure class="mt-16" hx-get="/plot-price-divergence-pre-post" hx-trigger="load delay:1500ms" hx-swap="outerHTML">
    <img class="animate-pulse aspect-video rounded-xl bg-gray-50 object-cover w-full"
         src="assets/chart-price-spot-vs-pool.png" alt="">
    <figcaption class="mt-4 flex gap-x-2 text-sm/6 text-gray-500">
        <svg class="mt-0.5 size-5 flex-none text-gray-300" viewBox="0 0 20 20" fill="currentColor"
             aria-hidden="true" data-slot="icon">
            <path fill-rule="evenodd"
                  d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z"
                  clip-rule="evenodd"/>
        </svg>
        Loading...
    </figcaption>
</figure>
{%- endblock -%}