<figure class="mt-16">
  <div id="chart-price-spot-vs-pool" class="aspect-video rounded-xl bg-gray-50 object-cover"></div>
  <script type="text/javascript">
    const chartPriceSpotVsPoolData = [{% for data in prices %}["{{data.date}}", {{data.price_spot}}, {{data.price_pool}}],{% endfor %}];
  </script>

  <script type="text/javascript">
    let chartPriceSpotVsPool = echarts.init(document.getElementById('chart-price-spot-vs-pool'));

    // Specify the configuration items and data for the chart
    let chartPriceSpotVsPoolOption = {
      dataset:{
        source: chartPriceSpotVsPoolData,
        dimensions: ['timestamp', 'Binance EUR/USDT', 'Pool cached EUR/USD'],
      },
      tooltip: {
        trigger: 'axis',
        position: function (pt) {
          return [pt[0], '10%'];
        }
      },
      toolbox: {
        feature: {
          dataZoom: {
            yAxisIndex: 'none'
          },
          restore: {},
          saveAsImage: {}
        }
      },
      legend: {},
      xAxis: {
        type: 'time',
      },
      yAxis: [
        {
          type: 'value',
          scale: true,
          alignTicks: true,
          axisLabel: {
            formatter: '{value} $'
          }
        },
        {
          type: 'value',
          scale: true,
          alignTicks: true,
          axisLabel: {
            formatter: '{value} $'
          }
        }
      ],
      dataZoom: [
        {
          show: true,
          startValue: "2024-04-12T10:00:00.000Z",
          endValue: "2024-04-15T16:00:00.000Z"
        },
        {
          type: 'inside',
          startValue: "2024-04-12T10:00:00.000Z",
          endValue: "2024-04-15T16:00:00.000Z"
        },
      ],
      series: [
        {
          name: 'Binance EUR/USDT',
          type: 'line',
          step: 'end',
          showSymbol: false,
          sampling: 'minmax',
          encode: {
            x: 'timestamp',
            y: 'Binance EUR/USDT'
          },
          markLine: {
            symbol: ['none', 'none'],
            label: { show: false },
            data: [{name: 'Price cache updated', xAxis: dateCacheExpirationUpdated}]
          }
        },
        {
          name: 'Pool cached EUR/USD',
          type: 'line',
          step: 'end',
          showSymbol: false,
          sampling: 'minmax',
          encode: {
            x: 'timestamp',
            y: 'Pool cached EUR/USD'
          },
        }
      ]
    };

    chartPriceSpotVsPool.setOption(chartPriceSpotVsPoolOption);
  </script>
  <figcaption class="mt-4 flex gap-x-2 text-sm/6 text-gray-500">
    <svg class="mt-0.5 size-5 flex-none text-gray-300" viewBox="0 0 20 20" fill="currentColor"
         aria-hidden="true" data-slot="icon">
      <path fill-rule="evenodd"
            d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z"
            clip-rule="evenodd"/>
    </svg>
    Binance EUR/USDT(SMA10 calculated based on BTC/USDT, BTC/EUR) against the pool EUR/USD(from cache)
  </figcaption>
</figure>